.main {
 // ⾜し算
 width: 500px + 100;
 // 引き算
 width: 700px - 100;
 // 掛け算
 width: 5px * 2;
 // 割り算
 width: (20px / 2);
 // 割り算のあまり
 width: 10px % 3;
}

.main {
 // ⾜し算
 width: 800px + 200;
 // 引き算s
 width: 500px - 200;
 // 掛け算
 width: 50px * 9;
 // 割り算
 width: (80px / 4);
 // 割り算のあまり
 width: 50px % 3;
}